/* ColorWheelStyles.uss */

.color-picker__orchestrator {
    flex-direction: row;
    justify-content: center;
}

.color-picker__wheel {
    aspect-ratio: 1;
    flex-grow: 1;
    flex-shrink: 1;
}

.color-picker__wheel--value-mode {

}